<html>
	<head>
		<title>Web Index</title>
	</head>
	<body>
		<h1>INDEX</h1>
		<form action="page1" method="GET" action="/page1_form">			
			<input type="submit" value="Page 1" />
		</form>
		
		<form action="page2" method="GET" action="/page2_form">			
			<input type="submit" value="Page 2" />
		</form>
		
		<form action="page3" method="GET" action="/page3_form">			
			<input type="submit" value="Page 3" />
		</form>
		
		<form action="logout" method="POST" action="/logout_form">			
			<input type="submit" value="Logout" />
		</form>
	</body>
</html>