<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
	<servlet>
		<servlet-name>tiny-web-dispatcher</servlet-name>
		<servlet-class>org.jcarvajal.tiny.web.ConfigurationDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/tiny-dispatcher-config.xml</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>tiny-web-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
